<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="controls">
        <button id="setCamFront">configure text</button>
        <button id="applyText">apply text</button>
        <div class="texture-controls"></div>
    </div>
</body>
</html>
