// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.controls {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#applyText {
    display: none;
}
